nav a {
    text-decoration: none;
    color: #333; 
    padding: 10px 15px; 
    display: block;
    transition: background-color 0.3s, color 0.3s;
    }

nav a:hover {
    background-color: #f2f2f2; 
    color: #ff6600; 
}
nav a {
display: inline-block;
}
button {
border-radius:25px ;
}
input {
border-radius:10px ;
}
body {
background-color: lightskyblue;
}
h1,h4,p {
font-family: serif;
}
    